<div class="home-container">
  <h1 class="welcome-title">¡Bienvenido!</h1>
  <p class="welcome-message">
    Aquí puedes gestionar tus materias de manera sencilla. A continuación, te explicamos cómo puedes usar esta plataforma:
  </p>
  <ul class="instructions-list">
    <li>
      <strong>Registrar Materias:</strong> Ingresa a <a routerLink="/enrollment" class="link">Registro de Materias</a>.
      Recuerda que una vez registradas, no podrás modificar tus materias.
    </li>
    <li>
      <strong>Mis Materias:</strong> Visita <a routerLink="/mycourses" class="link">Mis Materias</a> para consultar las materias que has matriculado y ver con quién compartirás clase.
    </li>
    <li>
      <strong>Estudiantes:</strong> Explora <a routerLink="/students" class="link">Estudiantes</a> para validar los registros y consultar información de otros usuarios.
    </li>
    <li>
      <strong>Perfil:</strong> Visita la sección <a routerLink="/profile" class="link">Perfil</a> para consultar y actualizar tus datos personales. También puedes eliminar tu cuenta si así lo deseas.
    </li>
  </ul>
</div>

